<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="stylesheet" href="/src/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <a id="logo" href="/">Logo</a>
            <ul class="navbar__menu" id="menu"></ul>
        </nav>
        <div class="form">
            <div class="form__search">
                <i class="fa-solid fa-magnifying-glass" id="search"></i>
            </div>
            <div class="form__cart">
                <a href="#">
                    <i class="fa-solid fa-bag-shopping"></i>
                    giỏ hàng
                </a>
            </div>
            <div class="form__user">
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    đăng nhập
                </a>
            </div>
        </div>
    </header>
    <!-- menu -->
    <script src="/src/components/js/menus/menu.js"></script>
</body>
</html>